In [2]:
import pandas as pd

In [10]:
df = pd.read_csv("competidores\Competidor1.csv")
df["Competidor"] = "C1"
df

          YMD   Product1    Product2  Time Competidor
0    20190106  2408555.0  12372749.0     1         C1
1    20190113  2215418.0  12374756.3     2         C1
2    20190120  2167294.0  13203648.2     3         C1
3    20190127  2173777.0  12319799.4     4         C1
4    20190203  2312097.0  12948943.7     5         C1
..        ...        ...         ...   ...        ...
170  20220401  1710449.0  11498573.0   171         C1
171  20220410  1750463.0  12136365.0   172         C1
172  20220417  1780374.0  11433778.5   173         C1
173  20220424  1889885.0  10819595.0   174         C1
174  20220508  1798562.0  12266624.5   175         C1

[175 rows x 5 columns]

In [11]:
for i in range(2,11):
    temp = pd.read_csv("competidores\Competidor"+str(2)+".csv")
    temp["Competidor"] = "C" + str(i)
    df = pd.concat([df, temp])
    

#df["YMD"][:10] = pd.to_datetime(df["YMD"][:10], format="%Y%m%d")
df

          YMD    Product1    Product2  Time Competidor
0    20190106   2408555.0  12372749.0     1         C1
1    20190113   2215418.0  12374756.3     2         C1
2    20190120   2167294.0  13203648.2     3         C1
3    20190127   2173777.0  12319799.4     4         C1
4    20190203   2312097.0  12948943.7     5         C1
..        ...         ...         ...   ...        ...
170  20220401  38060121.5         NaN   171        C10
171  20220410  38301684.5         NaN   172        C10
172  20220417  37199508.5         NaN   173        C10
173  20220424  37747067.5         NaN   174        C10
174  20220508  38826079.5         NaN   175        C10

[1750 rows x 5 columns]

In [28]:
pd.to_datetime(df["YMD"].apply(str), format="%Y%m%d")

ValueError: day is out of range for month

In [24]:
type(df["YMD"].values[0])

numpy.int64